name: Deploy
on:
  workflow_run:
    workflows: ['Build']
    branches: [main]
    types:
      - completed
jobs:
  deploy:
    # only run if the build job was successful
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USERNAME }}
          password: ${{ secrets.DEPLOY_PASSWORD }}
          port: ${{ secrets.DEPLOY_PORT }}
          script: |
            docker ps -q --filter "name=cinemawebfe" | grep -q . && docker stop cinemawebfe && docker rm -fv cinemawebfe
            docker image prune -f
            docker pull dukyhan2312/cinemawebfe:latest
            docker run --name cinemawebfe -p 80:80 -v nginx.conf:/etc/nginx/nginx.conf:ro -tid dukyhan2312/cinemawebfe
